/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fc;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel {
    background-color: #5865F2;
    color: white;
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-panel .logo {
    font-size: 50px;
    margin-bottom: 20px;
}

.left-panel h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.left-panel .social-icons a {
    margin: 10px;
    display: inline-block;
}

.right-panel {
    flex: 1.5;
    padding: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 300px;
}

.form-container h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-container p {
    color: #777;
    margin-bottom: 20px;
}

.social-signin button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    font-size: 0.9em;
    cursor: pointer;
}

.social-signin button:first-child {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    font-size: 0.9em;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.forgot-password {
    display: block;
    text-align: right;
    margin: 10px 0;
    font-size: 0.9em;
    color: #5865F2;
    text-decoration: none;
}

.sign-in-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4b6cb7;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.sign-in-btn:hover {
    background-color: #3a57a0;
}


.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

.register-link a {
    color: #5865F2;
    text-decoration: none;
    font-weight: 500;
}